<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="col-6">
                        <h3 class="title">FORGOT PASSWORD</h3> 
                        <p>Provide your account's email  for which you want to reset your password</p>
                        <form onsubmit="submitForm_email()">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"></path>
                                    </svg>
                                </span>
                                <input type="email" id="email" name="email" value="{{current_user.email}}" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" required>
                            </div>
                            <button class="btn btn-primary" type="submit">Send OTP</button>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </body>

    <div class="container">
        <div class="box">
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <h3 class="title">OTP Verification</h3>
                        <p>Enter the OTP to sent to Your Email</p>
                        
                        <form onsubmit="submitForm_otp()">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                                        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"></path>
                                    </svg>
                                </span>
                                <input type="text" id="otp" name="otp" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="basic-addon1" required>
                              </div>
                            <button class="btn btn-primary" type="submit">Validate OTP</button>
                        </form>
            
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

    <h1>Password Reset</h1>
    <form  onsubmit="submitForm_repass()">
        <div>
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required>
            <a onclick="togglePasswordVisibility('password', 'showPasswordBtn')">
                <i id="showPasswordBtn" class="bi bi-eye"></i>
            </a>
        </div>
        <div>
            <input type="submit" value="Reset Password" id="submitButton">
        </div>
    </form>

    <script>
        function togglePasswordVisibility(fieldId,buttonID) {
            var passwordField = $("#" + fieldId);
            var showPasswordBtn = $("#" + buttonID);

            if (passwordField.attr("type") === "password") {
                passwordField.attr("type", "text");
                showPasswordBtn.attr("class","bi bi-eye-slash");
            } else {
                passwordField.attr("type", "password");
                showPasswordBtn.attr("class","bi bi-eye");
            }
        }

    function submitForm_email() {
        event.preventDefault();

        const requestData = {
            email: document.getElementById("email").value,
        };

        fetch("/api/getmail", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(requestData)
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.message === 'Your email Success.') {
                    document.getElementById("email").value = '';
                } else {
                    console.log(1)
                }
            });
    }

    function submitForm_otp() {
        event.preventDefault();
        console.log(document.getElementById("otp").value)
        const requestData = {
            otp: document.getElementById("otp").value,
        };

        fetch("/api/otp", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(requestData)
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.message === 'Success') {
                    document.getElementById("otp").value = '';
                } else {
                    console.log(1)
                    document.getElementById("otp").value = '';
                }
            });
    }

    function submitForm_repass() {
        event.preventDefault();

        const requestData = {
            password: document.getElementById("password").value,
        };

        fetch("/forgotpassword", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(requestData)
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.message === 'Your email Success.') {
                    document.getElementById("email").value = '';
                } else {
                    console.log(1)
                }
            });
    }
    </script>
</body>

</html>