<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.446/build/spline-viewer.js"></script>
    <link rel="stylesheet" href="static/css/home.css">
</head>

{% extends "base.html" %}{% block content %}
<div class="container">
    <div class="home">
        <div class="div">
            <div class="container1">
                <div class="wordloop">
                    <div class="overlap-group">
                        <div class="rectangle"></div>
                        <div class="rectangle-2"></div>
                    </div>
                </div>
                <div class="loop-car">
                    <div class="overlap-group">
                        <div class="mini-map"></div>
                        <spline-viewer class="img" loading-anim url="https://prod.spline.design/rkXDi19nDieLGyun/scene.splinecode"></spline-viewer>
                    </div>
                </div>
            </div>
            <div class="container2">
                <div class="car">
                    <div class="overlap-group">
                        <div class="car-2"></div>
                        <spline-viewer class="img" url="https://prod.spline.design/7-iCI3WdsKDPzOxv/scene.splinecode"></spline-viewer>
                    </div>
                </div>
                <div class="word">
                    <div class="overlap-group">
                        <div class="rectangle"></div>
                        <div class="rectangle-3"></div>
                    </div>
                </div>
            </div>
            <div class="container3">
                <div class="zone">
                    <div class="card-container">
                        <div class="team-card-2 t-card">
                            <div class="text-wrapper-7">Role_name</div>
                            <div class="text-wrapper-9">Name Sur_name</div>
                            <img alt="profile" class="icon-user-circle" src="imgweb/icon-user-circle-icon-7.png" />
                            <img alt="github" class="icon-github" src="{{ url_for('imgweb', filename='icon-github-1.png') }}" />
                            <img alt="facebook" class="icon-facebook-square"
                                src="{{ url_for('imgweb', filename='icon-facebook-square-1.png') }}" />
                            <img alt="email" class="icon-email" src="{{ url_for('imgweb', filename='icon-email-1.png') }}" />
                        </div>
                        <div class="team-card t-card">
                            <div class="text-wrapper-5">Role_name</div>
                            <div class="text-wrapper-6">Name Sur_name</div>
                            <img alt="profile" class="icon-user-circle" src="imgweb/icon-user-circle-icon-7.png" />
                            <img alt="github" class="icon-github" src="{{ url_for('imgweb', filename='icon-github-2.png') }}" />
                            <img alt="facebook" class="icon-facebook-square"
                                src="{{ url_for('imgweb', filename='icon-facebook-square-2.png') }}" />
                            <img alt="email" class="icon-email" src="{{ url_for('imgweb', filename='icon-email-2.png') }}" />
                        </div>
                        <div class="team-card-2 t-card">
                            <div class="text-wrapper-7">Role_name</div>
                            <div class="text-wrapper-9">Name Sur_name</div>
                            <img alt="profile" class="icon-user-circle" src="imgweb/icon-user-circle-icon-7.png" />
                            <img alt="github" class="icon-github" src="{{ url_for('imgweb', filename='icon-github-1.png') }}" />
                            <img alt="facebook" class="icon-facebook-square"
                                src="{{ url_for('imgweb', filename='icon-facebook-square-1.png') }}" />
                            <img alt="email" class="icon-email" src="{{ url_for('imgweb', filename='icon-email-1.png') }}" />
                        </div>
                        <div class="team-card t-card">
                            <div class="text-wrapper-5">Role_name</div>
                            <div class="text-wrapper-6">Name Sur_name</div>
                            <img alt="profile" class="icon-user-circle" src="imgweb/icon-user-circle-icon-7.png" />
                            <img alt="github" class="icon-github" src="{{ url_for('imgweb', filename='icon-github-2.png') }}" />
                            <img alt="facebook" class="icon-facebook-square"
                                src="{{ url_for('imgweb', filename='icon-facebook-square-2.png') }}" />
                            <img alt="email" class="icon-email" src="{{ url_for('imgweb', filename='icon-email-2.png') }}" />
                        </div>
                        <div class="team-card t-card">
                            <div class="text-wrapper-5">Role_name</div>
                            <div class="text-wrapper-6">Name Sur_name</div>
                            <img alt="profile" class="icon-user-circle" src="imgweb/icon-user-circle-icon-7.png" />
                            <img alt="github" class="icon-github" src="{{ url_for('imgweb', filename='icon-github-2.png') }}" />
                            <img alt="facebook" class="icon-facebook-square"
                                src="{{ url_for('imgweb', filename='icon-facebook-square-2.png') }}" />
                            <img alt="email" class="icon-email" src="{{ url_for('imgweb', filename='icon-email-2.png') }}" />
                        </div>
                        <div class="team-card-2 t-card">
                            <div class="text-wrapper-7">Role_name</div>
                            <div class="text-wrapper-9">Name Sur_name</div>
                            <img alt="profile" class="icon-user-circle" src="imgweb/icon-user-circle-icon-7.png" />
                            <img alt="github" class="icon-github" src="{{ url_for('imgweb', filename='icon-github-1.png') }}" />
                            <img alt="facebook" class="icon-facebook-square"
                                src="{{ url_for('imgweb', filename='icon-facebook-square-1.png') }}" />
                            <img alt="email" class="icon-email" src="{{ url_for('imgweb', filename='icon-email-1.png') }}" />
                        </div>
                        <div class="team-card t-card">
                            <div class="text-wrapper-5">Role_name</div>
                            <div class="text-wrapper-6">Name Sur_name</div>
                            <img alt="profile" class="icon-user-circle" src="imgweb/icon-user-circle-icon-7.png" />
                            <img alt="github" class="icon-github" src="{{ url_for('imgweb', filename='icon-github-2.png') }}" />
                            <img alt="facebook" class="icon-facebook-square"
                                src="{{ url_for('imgweb', filename='icon-facebook-square-2.png') }}" />
                            <img alt="email" class="icon-email" src="{{ url_for('imgweb', filename='icon-email-2.png') }}" />
                        </div>
                        <div class="team-card-2 t-card">
                            <div class="text-wrapper-7">Role_name</div>
                            <div class="text-wrapper-9">Name Sur_name</div>
                            <img alt="profile" class="icon-user-circle" src="imgweb/icon-user-circle-icon-7.png" />
                            <img alt="github" class="icon-github" src="{{ url_for('imgweb', filename='icon-github-1.png') }}" />
                            <img alt="facebook" class="icon-facebook-square"
                                src="{{ url_for('imgweb', filename='icon-facebook-square-1.png') }}" />
                            <img alt="email" class="icon-email" src="{{ url_for('imgweb', filename='icon-email-1.png') }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
</script>

{% endblock %}