<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/profile_new.css" />
  </head>

  <body>
    <div class="profile">
      <div class="div">
        <div class="overlap">
          <div class="menu-bar">
            <div class="label-click">
              <div class="label-defult"><div class="text-wrapper">Profile</div></div>
            </div>
            <div class="label-wrapper"><div class="text-wrapper">Change password</div></div>
            <div class="div-wrapper"><div class="text-wrapper">Record</div></div>
            <div class="label-defult-2"><div class="text-wrapper">Label</div></div>
            <div class="label-defult-3"><div class="text-wrapper">Label</div></div>
          </div>
        </div>
        <div class="profile-mini">
          <div class="text-wrapper-2">x follower</div>
          <div class="text-wrapper-3">x following</div>
          <img class="icon-profile-circle" src="img/icon-profile-circle.png" />
          <div class="text-wrapper-4">Username</div>
          <div class="text-wrapper-5">Ranking x</div>
          <p class="p">Playtimes: x hrs, x mins</p>
          <img class="icon-following" src="img/icon-following.png" />
          <img class="icon-clock" src="img/icon-clock.png" />
          <p class="text-wrapper-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
        </div>
        <div class="profile-edit">
          <div class="email-label">
            <div class="overlap-group"><div class="text-wrapper-7">user@email.com</div></div>
            <div class="text-wrapper-8">Email</div>
          </div>
          <div class="email-label-2">
            <div class="overlap-group"><div class="text-wrapper-7">CGM, Thailand</div></div>
            <div class="text-wrapper-8">Location</div>
          </div>
          <div class="bio-label">
            <div class="overlap-2">
              <p class="text-wrapper-9">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              </p>
            </div>
            <div class="text-wrapper-8">Bio</div>
          </div>
          <div class="name-label">
            <div class="overlap-group"><div class="text-wrapper-7">Username</div></div>
            <div class="text-wrapper-8">Name</div>
            
          </div>
          <button class="update-btn">
            <div class="overlap-3"><div class="text-wrapper-10">Update profile</div></div>
          </button>
          <p class="text-wrapper-11">
            Your name may appear around VRacer where you contribute or are mentioned. You can remove it at any time.
          </p>
          <img class="line" src="img/line-1.svg" />
          <div class="group"><div class="label">Profile</div></div>
        </div>
        <div class="text-wrapper-12">VRacer</div>
      </div>
    </div>
  </body>
</html>