.container {
    color: white;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1F1F1F;
    border-radius: 50px;
    padding: 50px;
    text-align: center;
}

.box p {
    text-align: left;
}

.btn.btn-primary {
    margin-top: 20px;
    width: 100%;
}

.e {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}


